<template>
    <aside class="sidebar">
        <links-list class="sidebar-inner" :links="links"></links-list>
    </aside>
</template>

<script>
    import LinksList from './sidebar_list';
    import {adminLinks as links} from '../../routes/routes';

    export default {
        name: "sidebar",
        data() {
            return {
                links: [],
            }
        },
        mounted() {
            this.remakeLinks(links);
            this.links = links;
        },
        methods: {
            remakeLinks(links) {
                links.forEach((item) =>
                {
                    if (item.children)
                    {
                        item.opened = false;
                        this.remakeLinks(item.children);
                    }
                });
            },
        },
        components: {
            LinksList
        }
    }
</script>