<template>
    <ul>
        <li v-for="link in links" :key="link.path" class="sidebar-link-wrapper">
            <router-link v-if="!link.children" class="sidebar-link" :to="{ name: link.name }">
                <span :title="link.link_text">{{ link.link_text }}</span>
            </router-link>
            <div v-else class="sidebar-group">
                <div class="sidebar-toggle-wrapper" @click="link.opened = !link.opened" :class="{ 'opened': link.opened }">
                    <div class="sidebar-toggle-text" :title="link.link_text">
                        <span>{{ link.link_text }}</span>
                    </div>
                    <div class="sidebar-toggle">
                        <span class="sidebar-toggle-sign">
                            <font-awesome-icon icon="angle-left" />
                        </span>
                    </div>
                </div>
                <div class="sidebar-toggle-content">
                    <sidebar-list :class="'sidebar-submenu'" :links="link.children"></sidebar-list>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "sidebar-list",
        props: {
            links: Array,
        },
    }
</script>