<template>
    <div class="">
        <div>Список студентов</div>
        <div v-if="group" v-for="group in groups">
            <span v-text="group.name"></span>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "students-list",
        data() {
            return {
                groups: {},
            }
        },
        mounted()
        {
            axios.get('/vue/admin/groups').then(res => {this.groups = res.data.groups;}).catch((err) => alert(err));
        },
    }
</script>