<template>
    <div class="">
        <div>Список предметов</div>
        <div :key="subject.id" v-for="subject in subjects">
            <span v-text="subject.name"></span>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "subjects-list",
        data() {
            return {
                subjects: {},
            }
        },
        mounted()
        {
            axios.get('/api/vue/admin/subjects').then(res => {this.subjects = res.data.subjects;}).catch((err) => alert(err));
        },
    }
</script>