<template>
    <div class="main-wrap">
        <!--<v-header></v-header>-->
        <main>
            <sidebar></sidebar>
            <div class="router-view-wrapper">
                <router-view></router-view>
            </div>
        </main>
        <!--<v-footer></v-footer>-->
    </div>
</template>

<script>
    import sidebar from './layouts/sidebar';
    // import vHeader from './layouts/header';
    // import vFooter from './layouts/footer';

    export default {
        name: "master",
        components: {
            sidebar,
            // vHeader,
            // vFooter,
        },
    }
</script>