<template>
    <div class="">
        <input v-bind="inputProps" @input="myInput" v-model="value">
    </div>
</template>

<script>
    export default {
        name: "base-input",
        props: {
            inputProps: {
                placeholder: {
                    type: String,
                },
                class: {
                    type: String,
                },
                name: {
                    type: String,
                }
            },
        },
        data() {
            return {
                value: '',
            }
        },
        methods: {
            myInput() {
                this.$emit('update:value', this.value);
            }
        }
    }
</script>