<template>
    <div class="test-wrapper">
        <div class="test-form-wrapper">
            <form @submit.prevent="addImage" class="test-image-submit-form">
                <div class="">
                    <span>Submit your image link here:</span>
                </div>
                <div class="test-input-wrapper">
                    <input type="text" v-model="link" placeholder="Link" name="link">
                </div>
                <div class="test-button-wrapper">
                    <div class="">
                        <button type="submit">Add image</button>
                    </div>
                    <div class="test-button-reset">
                        <button type="button" @click="allImages = []">Clear all images</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="test-image-wrapper" v-if="allImages.length > 0">
            <peka-mode-img v-for="image in allImages" :key="new Date()" :src="image" />
        </div>
    </div>
</template>

<script>
    import PekaModeImg from "./peka-mode-img";

    export default {
        name: "peka-mode",
        components: {PekaModeImg},
        data()
        {
            return {
                link: '',
                allImages: [],
            }
        },
        methods: {
            addImage()
            {
                if (this.link.trim().length)
                {
                    this.allImages.push(this.link);
                    this.link = '';
                }
            },
        },
    }
</script>

<style>
    .test-wrapper {
        display: flex;
        flex-direction: column;
    }

    .test-image-submit-form {
        display: flex;
        flex-direction: column;
    }

    .test-input-wrapper {
        margin-top: 20px;
    }

    .test-button-wrapper {
        margin-top: 20px;
        display: flex;
    }

    .test-button-reset {
        margin-left: 15px;
    }

    .test-image-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }
</style>