<template>
    <div class="test-image-block">
        <img class="test-image-block-img" @error="loadFail" :src="imgSrc" alt="">
    </div>
</template>

<script>
    export default {
        name: "peka-mode-img",
        props: {
            src: {
                type: String,
                required: true,
            }
        },
        data() {
            return {
                imgError: 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/df/dfc38e330a823f15087dd72e23d3056a57a943d3_full.jpg',
                imgSrc: this.src,
            }
        },
        methods: {
            loadFail() {
                if (this.imgSrc !== this.imgError)
                {
                    this.imgSrc = this.imgError;
                }
            }
        }
    }
</script>

<style>
    .test-image-block {
        max-width: 300px;
        display: flex;
        flex-basis: 300px;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .test-image-block-img {
        width: 100%;
        object-fit: contain;
    }
</style>