<template>
    <form @submit.prevent="storeTeacher" style="display: flex; flex-direction: column;">
        <div class="">
            <input type="text" name="name" placeholder="Имя" v-model="form.name">
            <span style="color: red;" ></span>
        </div>
        <div class="">
            <input type="text" name="surname" placeholder="Фамилия" v-model="form.surname">
        </div>
        <div class="">
            <input type="text" name="patronymic" placeholder="Отчество" v-model="form.patronymic">
        </div>
        <div class="">
            <input type="password" name="password" placeholder="Пароль" v-model="form.password">
        </div>
        <div class="">
            <button type="submit">Добавить учителя</button>
        </div>
    </form>
</template>

<script>
    import axios from 'axios';
    import Form from '../../../models/common/Form';

    export default {
        name: "teachers-create",
        data()
        {
            const action = '/api/vue/admin/teachers/create';
            return {
                /*inputs: [
                    {
                        name: 'name',
                        placeholder: 'Имя',
                        type: 'text',
                    },
                    {
                        name: 'surname',
                        placeholder: 'Фамилия',
                        type: 'text',
                    },
                    {
                        name: 'patronymic',
                        placeholder: 'Отчество',
                        type: 'text',
                    },
                    {
                        name: 'password',
                        placeholder: 'Пароль',
                        type: 'password',
                    },
                ],*/
                form: new Form({
                    name: '',
                    surname: '',
                    patronymic: '',
                    password: '',
                }, action),
            }
        },
        /*created()
        {
            let self = this;
            this.inputs.forEach(function (item)
            {
                self.form[item.name] = '';
            })
        },*/
        methods: {
            storeTeacher()
            {
                // axios.post(this.action, this.form).then((res) => (console.log(res.data))).catch((err) => console.log(err));

                this.form.create();
            },
        }
    }
</script>