<template>
    <div class="">
        <div>Список учителей</div>
        <div style="display: flex;" :key="teacher.id" v-for="teacher in formatTeachers">
            <span v-text="teacher.name"></span>
            <button type="button" @click="deleteTeacher(teacher.id)">X</button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "teachers-list",
        data()
        {
            return {
                teachers: [],
            }
        },
        computed: {
            formatTeachers()
            {
                let teachersData = [];

                this.teachers.forEach(function (item)
                {
                    let surname = item.surname ? ' ' + item.surname : '';
                    let patronymic = item.patronymic ? ' ' + item.patronymic : '';
                    teachersData.push({name: item.name + surname + patronymic, id: item.id});
                });

                return teachersData;
            }
        },
        mounted()
        {
            axios.get('/api/vue/admin/teachers').then(res => this.teachers = res.data.teachers).catch((err) => alert(err));
        },
        methods: {
            deleteTeacher(id) {
                axios.delete(`/api/vue/admin/teachers/${id}`).then(() => alert('Success')).catch((err) => alert(err));
            }
        },
    }
</script>