:root {
    font-size: 16px;
    font-family: 'Open Sans Regular', sans-serif;
}

body {
    color: $text-color;
}

main {
    display: flex;
    flex-grow: 1;
}

a {
    color: $link;
    text-decoration: underline;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

.ie-fix {
    display: flex;
    background-color: $main-bc;
}

.main-wrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.router-view-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}