.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0;
    border-right: 1px solid $border;
    height: 100vh;
    width: 300px;
    position: sticky;
    top: 0;
    overflow: auto;
    line-height: normal;
}

// ff fix
.sidebar-inner {
    padding-bottom: 30px;
}

.sidebar-link {
    padding: 1em;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidebar-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-toggle-wrapper {
    cursor: pointer;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar-toggle {
    display: flex;
    align-items: center;
}

.sidebar-toggle-wrapper:hover, .sidebar-link:hover {
    background-color: $link-hover;
}

.sidebar-link-wrapper {
    display: flex;
    border-bottom: 1px solid $border;
    user-select: none;
}

.sidebar-link-wrapper:first-of-type {
    border-top: 1px solid $border;
}

.sidebar-submenu {
    margin-left: 1em;
    margin-right: 1em;
}

.sidebar-toggle-sign {
    display: flex;
    transition: 0.3s;
}

.sidebar-toggle-content {
    margin-bottom: 0;
    overflow: hidden;
    transition: background-color 0.3s;
    height: 0;
}

.sidebar-toggle-wrapper.opened > .sidebar-toggle > .sidebar-toggle-sign {
    transform: rotateZ(-90deg);
}

.sidebar-toggle-wrapper.opened + .sidebar-toggle-content {
    overflow: visible;
    margin-bottom: 1em;
    height: auto;
}

.sidebar-toggle-text, .sidebar-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-toggle-text {
    max-width: 90%;
}

//.sidebar-submenu > .sidebar-link-wrapper {
//    border-top: none;
//}

//.sidebar-link-wrapper .sidebar-link-wrapper:first-of-type {
//    //margin-top: 12px;
//}