<template>
    <div class="">
        <div>Список групп</div>
        <div :key="group.id" v-for="group in groups">
            <span v-text="group.name"></span>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "group-list",
        data() {
            return {
                groups: {},
            }
        },
        mounted()
        {
            axios.get('/api/vue/admin/groups').then(res => {this.groups = res.data.groups;}).catch((err) => alert(err));
        },
    }
</script>